div {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.formDiv {
    width: 50%;
    border: 15px solid blue;
    border-radius: 15px;
}

form {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: aqua;
    font-size: larger;
    font-weight: 600;
}

span {
    margin-right: 10px
}

.credentials {
    border: 10px solid blue;
    margin-top: -10px;
    padding: 20px;
}

.details {
    border: 10px solid blue;
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 20px;
}

strong {
    margin-bottom: 10px;
    background-color: rgb(177, 176, 176);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: large;

}

.requiredField {
    margin-bottom: -10px;
    display: flex;
    justify-content: end;
    width: 45%;
    color: red;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;

}

input:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid black;
}

select {
    padding: 7px;
    border-radius: 4px;}

option {
    font-size: medium;
}

textarea:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

textarea {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid black;
}

